[submodule "utilities"]
	path = utilities
	url = https://www.github.com/gigamono/utilities
[submodule "engine_proxy"]
	path = engine_proxy
	url = https://www.github.com/gigamono/engine_proxy
[submodule "engine_workspace"]
	path = engine_workspace
	url = https://www.github.com/gigamono/engine_workspace
[submodule "engine_backend"]
	path = engine_backend
	url = https://www.github.com/gigamono/engine_backend
[submodule "tera"]
	path = tera
	url = https://www.github.com/gigamono/tera
[submodule "web_ui"]
	path = web_ui
	url = https://www.github.com/gigamono/web_ui
[submodule "sample"]
	path = sample
	url = https://www.github.com/gigamono/sample
